@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

:root {
  --bg-gradient: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );
}
* {
    margin: 0 ;
    padding: 0;
    
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    margin: 0 ;
    padding: 0;
}

section {
    position: relative;  /* Se asegura de que las secciones utilicen una posición relativa */
    min-height: 100vh;    /* Cada sección ocupa al menos el 100% de la altura de la ventana */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 ;
    padding: 0;
}




.first  {
  background-color: #8cfc6d;

}

.second  {
  background-color: white;
}

.third  {
  background-color: white;
}

.fourth  {
  background-color: white;
}

.fifth  {
  background-color: white;
}

.sixth {
  background-color: white;
}

.seventh {
  background-color: white;
}

.eighth {
  background-color: white;
}

.ninth {
  background-color: white;
}
/*Barra de navegacion*/
/* Alineación de los elementos */
.navbar-nav .dropdown-toggle i {
  margin-left: 5px; /* Espacio entre el texto y el icono */
}

.btn-aplicar {
background-color: #9efc81; /* Cambia el color de fondo */
color: black;              /* Cambia el color del texto */
padding: 16px 40px;
font-weight: bold;
border-radius: 4px;
border: none;
}
.dropdown-toggle::after {
  display: none; /* Elimina la flecha predeterminada de Bootstrap */
}
/* Estilos de transición para los dropdowns */
.dropdown-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.dropdown-menu.show {
  max-height: 500px; /* Ajusta según el contenido del dropdown */
  opacity: 1;
  visibility: visible;
}

/*******************************************PRIMERA SECCION*******************/

img {
  object-fit: cover;
  height: 100vh; /* Asegura que la imagen cubra toda la altura */
  width: 100%;
}

 /* Estilos del contenedor principal */
 .containerpr {
  width: 100%;
  height: 100vh; /* Altura completa de la pantalla */
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

/* Estilos para la columna de texto */
.first .text-column {
  width: 50%; /* Ocupa el 50% del ancho */
  padding: 5%; /* Espaciado interno del 5% para márgenes */
  background-color: #8cfc6d; /* Color de fondo */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente el contenido */
}

.first .text-column h1 {
  font-size: 4vw; /* Tamaño de fuente ajustado a la anchura de la pantalla */
  margin-bottom: 4%;
  width: 82%;
  color: #060606;
  font-weight: 500;
}

.first .text-column p {
  font-size: 1.1vw; /* Tamaño de fuente ajustado a la anchura de la pantalla */
  margin-bottom: 4%;
  width: 80%;
  line-height: 2;
  margin-left: 2px;
}

.first .text-column .btnaplicar {
  padding: 4%;
  font-size: 1.4vw;
  background-color: #060606;

  color: #8cfc6d;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  text-align: center; /* centrar texto*/
  width: 65%;
}

/* Estilos para la columna de imagen */
.image-column {
  width: 50%; /* Ocupa el 50% del ancho */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Para que la imagen no se salga del contenedor */
}

.image-column img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen sin distorsión */
}

/* Responsividad para pantallas más pequeñas */
@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column; /* Coloca las columnas una sobre otra */
  }

  .text-column,
  .image-column {
    width: 100%; /* Ambos ocupan el 100% del ancho */
    height: 50vh; /* Cada uno ocupa la mitad de la altura de la pantalla */
  }

  .text-column h1 {
    font-size: 6vw; /* Ajusta el tamaño del texto en pantallas pequeñas */
  }

  .text-column p,
  .text-column .btn {
    font-size: 4vw;
  }
}

/***********************************SEGUNDA SECCION**************************/

/* Container Styles */
/* Container Styles */
.second {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  text-align: center;
  margin-top: 4%;
}

.second .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  position: relative; /* Necesario para posicionar el texto absolutamente dentro de este contenedor */
}

.second .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Left Text Block */
.second .text-left {
 
  text-align: start;
  color: #060606;
  position: absolute; /* Posiciona el texto encima de las cajas */
  top: 17vh; /* Ajusta según sea necesario */
  left: 6.5vh; /* Ajusta según sea necesario */
  z-index: 10; /* Asegúrate de que el texto esté por encima de las cajas */
}

.second .text-left h4 {
  font-size: 2.8rem;
  margin-bottom: 20px;
  
}

.second .text-left p {
  font-size: 1vw;
  line-height: 1.5;
  margin-left: 0;
}

/* Right Text Blocks */
.second .text-right {
  width: 50%;
  position: relative; /* Para que los elementos hijos se posicionen en relación a este contenedor */
}

.second .box {
  padding: 20px;
  height: 35vh;
  width: 130%; /* Aumenta el tamaño de las cajas */
  margin-left:70%; /* Mueve las cajas hacia la izquierda */
  position: relative; /* Necesario para colocar los íconos dentro de las cajas */
  margin-bottom: 15px;
}

.second .teal-bg {
  background-color: #41e5c6; /* Teal background */
}

.second .green-bg {
  background-color: #8cfc6d; /* Green background */
}

/* Mantén el tamaño y posición del icono */
.second .custom-icon {
  width: 50px;
  height: 50px;
  position: absolute;
}

/* Icono en la esquina superior izquierda de la primera caja */
.second .teal-bg .custom-icon {
  top: 15px;
  left: 15px;
}

/* Icono en la esquina inferior izquierda de la segunda caja */
.second .green-bg .custom-icon {
  bottom: 15px;
  left: 15px;
}

/* Ajustes para centrar el texto en las cajas */
.second .box {
  display: flex; /* Habilita flexbox en la caja */
  flex-direction: column; /* Apila los elementos verticalmente */
  justify-content: center; /* Centra el texto verticalmente */
  align-items: center; /* Centra el texto horizontalmente */
  position: relative; /* Mantiene el icono posicionado absolutamente */
  padding-left: 30%; /* Deja espacio para el icono */
  text-align: center; /* Centra el texto dentro de la caja */
}

/* Ajustes del texto dentro de las cajas */
.second .box h5 {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #060606;
  width: 100%; /* Asegura que el texto ocupe todo el ancho disponible */
  text-align: start; /* Centra el texto */
  padding-top: 2%; /* Ajusta la distancia desde la parte superior */
  margin-bottom: 0; /* Ajusta la distancia debajo del texto */
}


/* Estilos base, sin cambios */

/* Responsividad para pantallas más pequeñas */
@media (max-width: 1024px) {
  .second .text-left {
    position: relative; /* Cambia a relativa para que se ajuste con respecto al flujo del documento */
    top: 0;  /* Elimina la posición superior */
    left: 0; /* Elimina la posición izquierda */
    margin-bottom: 20px; /* Añade un margen para separar del contenido siguiente */
    text-align: center; /* Centra el texto horizontalmente */
  }
  
  .second .text-left h4 {
    font-size: 2.4rem; /* Ajusta el tamaño del título */
  }

  .second .text-left p {
    font-size: 1.2rem; /* Ajusta el tamaño del párrafo */
  }

  .second .content {
    flex-direction: column; /* Alinea los elementos en columna */
  }

  .second .text-right {
    width: 100%; /* Asegura que la caja a la derecha ocupe todo el ancho disponible */
  }

  .second .box {
    width: 100%;  /* Haz que las cajas ocupen el 100% del ancho */
    margin-left: 0; /* Centra las cajas */
    height: auto; /* Deja que la altura sea automática */
  }
}

@media (max-width: 768px) {
  .second .text-left h4 {
    font-size: 2rem; /* Reduce el tamaño del título */
  }

  .second .text-left p {
    font-size: 1.1rem; /* Ajusta el tamaño del párrafo */
  }

  .second .box {
    width: 100%; /* Asegura que las cajas ocupen todo el ancho disponible */
  }

  .second .custom-icon {
    width: 40px; /* Reduce el tamaño del ícono */
    height: 40px;
  }

  .second .box h5 {
    font-size: 1.2rem; /* Ajusta el tamaño del texto en las cajas */
  }
}

@media (max-width: 480px) {
  .second .text-left h4 {
    font-size: 1.6rem; /* Reduce el tamaño del título */
  }

  .second .text-left p {
    font-size: 1rem; /* Ajusta el tamaño del párrafo */
  }

  .second .box h5 {
    font-size: 1rem; /* Ajusta el tamaño del texto en las cajas */
  }
}

/*++++++++++++++++++++++++DECIMA NUEVA SECCION++++++++++++++++++++*/
.ten {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #6676d1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.ten .container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.ten .text {
  font-size: 2.7rem;
  line-height: 1.5;
  max-width: 50%;
  margin-top: -5%;
  margin-left: -11%;
  
}
.ten .percentages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  text-align: start;
  margin-top: -10%;
}
.ten .percentage {
  text-align: center;
}
.ten .percentage .value {
  font-size: 15vh;
  
}
.ten .percentage .label {
  font-size: 16px;
  margin-top: -15%;
  margin-left: -40%;
}

/* Estilos base, sin cambios */

/* Responsividad para pantallas medianas */
@media (max-width: 1024px) {
  .ten .container {
    flex-direction: row; /* Mantén el contenido en fila */
    justify-content: space-between; /* Asegura que el texto y los porcentajes estén separados */
    width: 90%; /* Ajusta el ancho del contenedor */
  }

  .ten .text {
    font-size: 2.2rem; /* Reduce el tamaño del texto */
    max-width: 55%; /* Ajusta el ancho del texto para que tenga más espacio */
    margin-left: 0; /* Elimina el margen negativo izquierdo */
    margin-top: 0; /* Ajusta el margen superior */
    text-align: left; /* Mantén el texto alineado a la izquierda */
  }

  .ten .percentages {
    width: 40%; /* Ajusta el ancho de la sección de porcentajes */
    margin-top: 0; /* Elimina el margen superior negativo */
    justify-content: space-around; /* Distribuye uniformemente los porcentajes */
  }

  .ten .percentage .value {
    font-size: 12vh; /* Reduce el tamaño de los valores numéricos */
  }

  .ten .percentage .label {
    font-size: 14px; /* Ajusta el tamaño de las etiquetas */
    margin-top: 0; /* Elimina el margen superior negativo */
    margin-left: 0; /* Elimina el margen izquierdo */
  }
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
  .ten {
    padding: 20px; /* Añade padding para evitar que el contenido toque los bordes */
  }

  .ten .container {
    flex-direction: column; /* Para pantallas más pequeñas, coloca el contenido en columna */
    align-items: flex-start; /* Mantén el texto alineado a la izquierda */
  }

  .ten .text {
    font-size: 1.8rem; /* Reduce el tamaño del texto */
    width: 100%; /* Haz que el texto ocupe el ancho completo */
    text-align: left; /* Alinea el texto a la izquierda */
    margin-bottom: 20px; /* Añade margen inferior para separar del siguiente contenido */
  }

  .ten .percentages {
    width: 100%; /* Haz que los porcentajes ocupen todo el ancho */
    justify-content: space-between; /* Mantén los porcentajes distribuidos */
    margin-top: 0; /* Ajusta el margen superior */
  }

  .ten .percentage .value {
    font-size: 10vh; /* Ajusta el tamaño del valor numérico */
  }

  .ten .percentage .label {
    font-size: 12px; /* Ajusta el tamaño de las etiquetas */
  }
}

@media (max-width: 480px) {
  .ten .text {
    font-size: 1.5rem; /* Reduce el tamaño del texto */
    margin-bottom: 15px; /* Ajusta el margen inferior */
  }

  .ten .percentage .value {
    font-size: 8vh; /* Ajusta el tamaño de los valores numéricos */
  }

  .ten .percentage .label {
    font-size: 10px; /* Ajusta el tamaño de las etiquetas */
  }
}

/***************************TERCERA SECCION *********************/

.third .main-container {
  text-align: center;
}

.third h1 {
  font-size: 24px;
  color: #000;
  
}

.third .cards-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 150%;
  margin-left: -25%;
}

.third .card {
  width: 150%;
  height: 80vh;
  margin: 8px;
  padding: 29px;
  color: #000;
  position: relative;
  border-radius: 0;
  border: none;
  align-items: start;
  justify-content: center;

}

.third .card h2, p, .costs, .apply-btn, .apply-btn2{
  margin-left: 15%;
}

.third .card h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.third .card p {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: left;

  line-height: 2;
}

.third .card .costs {
  font-size: 25px;
  font-weight: 550;
  color: #060606;
}

.third .card .apply-btn {
  background-color: #000;
  color: #fff;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 16px;
  border: none;
  cursor: pointer;  
  color: #8cfc6d;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  text-align: center; /* centrar texto*/
  width: 35%;
}

.third .card .apply-btn2 {
  background-color: #000;
  color: #fff;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 16px;
  border: none;
  cursor: pointer;  
  color: #41e5c6;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  text-align: center; /* centrar texto*/
  width: 35%;
}

.third .card .icon {
  position: absolute;
  opacity: 0.1;
}

.third .icon img {
  max-width: 65%; /* Ajusta el ancho máximo al 100% del contenedor */
  height: auto;    /* Ajusta la altura automáticamente */
  margin-left: 55%;
  margin-bottom: -250px;
}
.third .icon2 img {
  max-width: 40%; /* Ajusta el ancho máximo al 100% del contenedor */
  height: auto;    /* Ajusta la altura automáticamente */
  margin-left: 40%;
  top: 50%;
  position: absolute;
  opacity: 0.1;
}

.third .card.tech {
  background-color: #8cfc6d;
}

.third .card.power {
  background-color: #41e5c6;
}

/* Para pantallas medianas (tablets) */
@media (max-width: 1024px) {
  .third .cards-container {
    width: 100%;
    margin-left: 0;
  }

  .third .card {
    width: 90%;
    height: auto;
  }

  .third .card h2 {
    font-size: 2rem;
  }

  .third .card p {
    font-size: 14px;
  }

  .third .card .apply-btn, .third .card .apply-btn2 {
    width: 50%;
  }

  .third .icon img, .third .icon2 img {
    max-width: 50%;
    margin-left: 40%;
  }
}

/* Para pantallas pequeñas (smartphones) */
@media (max-width: 768px) {
  .third .cards-container {
    flex-direction: column;
    width: 100%;
    margin-left: 0;
  }

  .third .card {
    width: 95%;
    height: auto;
    margin: 15px auto;
    padding: 15px;
  }

  .third .card h2 {
    font-size: 1.8rem;
  }

  .third .card p {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .third .card .apply-btn, .third .card .apply-btn2 {
    width: 70%;
    padding: 10px 15px;
  }

  .third .icon img, .third .icon2 img {
    max-width: 35%;
    margin-left: 35%;
  }
}

/******************CUARTA SECCION***********************/

.fourth .col-md-6 {
  text-align: left;
  
}

.fourth h1, .fourth p {
  margin-left: 0; /* Asegura que ambos empiecen desde el mismo punto */
  padding-left: 0; /* Elimina cualquier padding izquierdo adicional */
  line-height: 2;
  width: 80%;
}
.fourth h1{
  font-size: 2.8rem;
}

.fourth .img-thumbnail {
  margin: 0; /* Elimina márgenes */
  width: 25%; /* La imagen ocupará el 30% del ancho del contenedor padre */
  height: auto; /* Mantiene la proporción de la imagen */
  border: none;
}

/*******************QUINTA SECCION**************************************/

.fifth {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center; /* Esto centra el texto dentro de los elementos hijos */
}

.fifth h1 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.fifth p.subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 0rem;
}

.fifth .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.fifth .card {
  background: white;
  border: 1px solid #ddd;
  padding: 20px;
  display: flex;
  align-items: flex-start; /* Alinea el contenido al inicio verticalmente */
  flex-direction: row; /* Asegura que los elementos estén uno al lado del otro */
  max-height: 130px; /* Altura mínima ajustada según la imagen */
  overflow: hidden; /* Evita que el contenido se salga del contenedor */
  box-sizing: border-box; /* Incluye padding y borde en el tamaño total */
}

.fifth .card-icon {
  margin-right: 10px;
}

.fifth .card-icon img {
  width: 110%; /* Tamaño uniforme para todas las imágenes */
  height: 110%; /* Asegura que la altura también sea uniforme */
  object-fit: contain; /* Mantiene las proporciones de las imágenes */
}

.fifth .card-content {
  text-align: left;
  flex: 1; /* Asegura que el contenido ocupe el espacio restante */
  align-items: center;
  margin-top: 4%;
  line-height: 1;
  margin-left: -7%;
  overflow-wrap: break-word; /* Ajusta las palabras largas al ancho del contenedor */
  word-wrap: break-word; /* Alternativa para navegadores antiguos */
}

.fifth .card-title {
  font-size: 1.5rem;
}

.fifth .card-description {
  font-size: 12px;
  color: #000000;
  width: 55%;
  line-height: 2;
  white-space: normal; /* Asegura que el texto haga saltos de línea cuando sea necesario */
  overflow-wrap: break-word; /* Asegura que las palabras largas se ajusten al ancho del contenedor */
  word-wrap: break-word; /* Alternativa para navegadores más antiguos */
}


/******************SEXTA SECCION**************************/

.sixth h1,h3,p{
margin-left: 10%;
text-align: left;

}
.sixth p{
  line-height: 2;
}
/********************ELEVEN SECCION************************/



.eleven .left-section,
.eleven .right-section {
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap; /* Evitar que las columnas salten de línea */
  height: 100vh;
  margin: 0;
 
}

.eleven .left-section {
  background-color: #6676d1;
  color: white;
  
}

.eleven .left-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.eleven .left-section h1 {
  font-size: 3.5vw;
  margin-bottom: 20px;
}

.eleven .left-section p {
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 0;
}

.eleven .right-section {
  background-color: white;
}

.eleven .carousel-inner img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  
}

.eleven .carousel-inner .d-flex {
  align-items: center;
  margin-bottom: 10px;
}

.eleven .carousel-item h3 {
  width: 100%;
  margin-bottom: 0.2rem;
  margin-left: 0;
}

.eleven .carousel-item .role {
  font-size: 0.9rem;
  color: #9E9E9E;
  margin-bottom: 0.8rem;
  margin-left: 0;
}

.eleven .carousel-item .quote {
  font-size: 1.2rem;
  font-style: italic;
  line-height: 2;
  margin-top: 15px;
  margin-left: 0;
}

.eleven .content-container {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.eleven .carousel-control-prev-icon,
.eleven .carousel-control-next-icon {
  border-radius: 50%;
  background-color: #ccc;
  width: 30px;
  height: 30px;
  margin-left: -110%;
}

.carousel-indicators {
  position: absolute;
  bottom: -20%; /* Ajusta este valor para mover los indicadores hacia abajo */
  transform: translateX(-50%);
  display: flex;
  justify-content: start;
  margin-left: 30%;
}

.carousel-indicators button {
  width: 15px;  /* Ajusta el tamaño de los indicadores */
  height: 15px;

  background-color: #6676d1 !important; /* Color de los indicadores */
  border: none;
  margin: 12px !important; /* Espacio entre los indicadores */
}

/************************SEPTIMA SECCION***********************************/

.seventh .container {
  text-align: start;
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  padding: 0 10%; /* Añade un padding lateral para que el contenido no toque los bordes */
  box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}

.seventh h1 {
  text-align: start;
  font-size: 3vw;
}

.seventh p {
  color: #666;
  margin-bottom: 2em;
  text-align: start;
  margin-left: 0;
}

.seventh .steps {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  height: auto; /* Ajusta la altura de acuerdo al contenido */
  min-height: 40vh; /* Mantiene un mínimo de altura */
  width: 100%; /* Ocupa todo el ancho de la ventana */
  max-width: 1200px; /* Limita el ancho máximo para pantallas grandes */
  margin: 0 auto; /* Centra el contenido en pantallas más grandes */
}

.seventh .step {
  flex: 1;
  padding: 1em;
  border-right: 1px solid #ddd;
  box-sizing: border-box; /* Incluye padding y borde en el tamaño total */
  word-wrap: break-word; /* Asegura que el texto se ajuste al ancho del contenedor */
  overflow-wrap: break-word; /* Permite que las palabras largas se ajusten dentro del contenedor */
}

.seventh .step:last-child {
  border-right: none;
}

.seventh .step h3 {
  margin-bottom: 0.5em;
}

.seventh .step .time {
  background-color: #8cfc6d;
  color: #000000;
  padding: 0.2em 2em;
  margin-bottom: 1em;
  display: inline-block;
  margin-left: -4%; /* Si quieres que salga un poco fuera del contenedor */
}

.seventh .step p {
  margin: 0.5em 0;
  margin-left: 10%;
  white-space: normal; /* Permite que el texto haga saltos de línea si es necesario */
}

.seventh .apply-button {
  margin-top: 2em;
}

.seventh .apply-button button {
  background-color: #000;
  color: #8cfc6d;
  padding: 1em 9.5em;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

/***********************************OCTAVA SECTION************************/

.eighth .vertical-line {
  width: 20%;
  height: 100%; /* O el alto que desees */
  background-color: #41e5c6; /* Cambia el color según tu preferencia */
  position: fixed; /* O absolute, según cómo desees que se comporte */
  left: 0; /* O ajusta la posición horizontal según lo necesites */
  top: 0; /* O ajusta la posición vertical según lo necesites */
}
.eighth .faq-section {
  margin-top: 8%;
margin-left: 20%;
margin-bottom: 10%;

  background-color: white;
}
.eighth h1 {
  font-size: 3vw;
  margin-bottom: 10px;
  width: 100%;
}
.eighth p {
  font-size: 1rem;
  color: rgb(0, 0, 0);
  margin-left: 0;
}
.eighth .faq-item {
  margin: 0;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
.eighth .faq-item .question {
  background-color: white;
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  outline: none;
  font-size: 2vw;
}
.eighth .faq-item .question:hover {
  background-color: #f9f9f9;
}
.eighth .faq-item .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background-color: white;
  padding: 0 15px;
}
.eighth .faq-item.active .answer {
  max-height: 200px; /* Ajusta esta altura según el contenido */
  padding: 15px;
}
.eighth .faq-item .icon {
  font-size: 18px;
  transition: transform 0.3s ease;
}
.eighth .faq-item.active .icon {
  transform: rotate(180deg);
}
/***************************FOOTER**********************************/
/* CSS */
 footer {
  display: flex;
padding-top: 5%;
  text-align: start;
  font-family: Arial, sans-serif;
  
}
.footer-content {

  margin-left: 10%;
}

.ninth .logo {
  max-width: 20%;  /* Limitar el ancho máximo */
  height: auto;      /* Ajuste proporcional de la altura */
  object-fit: contain;
  margin-left: -2%;
  
}
.left-logo img {
  height: 100%; /* Asegura que la imagen cubra toda la altura del footer */
  object-fit: cover; /* Asegura que la imagen mantenga proporciones */
  
}
 .footer-content p {
  color: #000000;
  font-size: 1.3rem;
  margin: 5px 0;
}

 .footer-content a {
  color: #5a7eff;
  text-decoration: none;
}

 .footer-content strong {
  font-weight:500;
  color: #000000;
  font-size: 3rem;
}

.azul{
  color: #6676d1 !important;
  }

.ninth .social-icons {
  margin-top: 3%;
  margin-left: -5%;
}

.ninth .social-icons a {
  margin: 0 4%;
  display: inline-block;
}

.ninth .social-icons img {
  width: 50px;
  height: 50px;
}
